body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    margin-bottom: 10px;
    border-radius: 20%;
}

.box-container {
    display: flex;
}

.part1 {
    margin-right: 20px;
}

.h3 {
    margin-bottom: 50px;
}

.red {
    background-color: #d95980;
}
.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}